.App {
  padding: 40px;
}

.download-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.single-file-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
  border: 1px solid #dedede;
  position: relative;

  .download-button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .progress-bar {
    position: absolute;
    padding: 2px;
    bottom: 5px;
    width: 200px;
    height: 30px;
    border: 1px solid #dedede;

    .completed {
      height: 30px;
      background: #90EE90;
    }

    .progress-indicator {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 45%;
      bottom: 5px;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}